
root { --black: black;
}
body {

    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0px;
    margin: 0px;
    background-color: rgb(37, 37, 37);
}

#maincard h3 {
    font-family: Poppins, sans-serif;
}

* {
    font-family: Poppins, sans-serif;
}

#maincard button {
    display: flex;
    width: 300px;
    height: 70px;
    margin-top: 30px;
    align-self: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    background-color: rgb(185, 185, 185);
    border-radius: 17px;
    border: 2px solid black;
    transform: scale(1);
    transition-duration: 0.3s;
}

#maincard button:hover {
    border: 2px solid lime;
    transform: scale(1.03);
    transition-duration: 0.3s;
}



#maincard {
    align-items: center;
    justify-items: center;
    width: 30%;
    height: auto;
    background-color: darkgray;
    border-radius: 17px;
}

#maincard input {
    width: 300px;
    height: 60px;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 17px;
    background-color: white;
    border: 3px solid black;
}

#maincard input::before {
    border: 3px solid black;
}

#maincard input::after {
    border: 3px solid lime;
}





#card {
    height: 220px;
    width: 70%;
    background-color: rgb(141, 141, 141);
    border-radius: 17px;
    border: 2px solid black;
    margin-bottom: 50px;
}

#cardvalue-name {
    display: flex;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 2%
}

#cardvalue-ceg {
    margin-top: 5%;
    display: flex;
}
#cardvalue-email {
    margin-top: 5%;
    display: flex;
}


#line {
    width: 99%;
    margin-top: 5%;
    border: 3px solid black
}
